<div class="dest-container">
  <h3>Top Destinations</h3>
  <div class="divider"></div>

  <div class="home-cards">
    <div class="card" style="width: 18rem">
      <img src="./assets/des-1.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Exotic Beach Getaways</h5>
        <p class="card-text">
          Explore sun-kissed shores and pristine beaches. Dive into
          crystal-clear waters, lounge under palm trees, and savor the
          tranquility of exotic beach destinations. Your tropical paradise
          awaits.
        </p>
        <a href="#" class="btn btn-primary">Explore More</a>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img src="./assets/des-2.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Cultural Wonders</h5>
        <p class="card-text">
          Immerse yourself in the rich tapestry of cultures around the world.
          Discover historic landmarks, vibrant festivals, and centuries-old
          traditions. Experience the beauty of cultural wonders
        </p>
        <a href="#" class="btn btn-primary">Explore More</a>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img src="./assets/des-3.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Cityscape Adventures</h5>
        <p class="card-text">
          Uncover the energy and excitement of vibrant cities. Skyscrapers,
          nightlife, world-class dining, and iconic landmarks are at your
          fingertips. Embark on cityscape adventures.
        </p>
        <a href="#" class="btn btn-primary">Explore More</a>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img src="./assets/des-4.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Nature's Serenity</h5>
        <p class="card-text">
          Escape to nature's serenity. Hike through lush forests, witness
          breathtaking landscapes, and embrace the tranquility of natural
          beauty. Connect with the world's most awe-inspiring environments.
        </p>
        <a href="#" class="btn btn-primary">Explore More</a>
      </div>
    </div>
  </div>
</div>
